<p>Witaj <%= @resource.email %>!</p>

<p>Została zgłoszona prośba o zmianę hasła. Możesz tego dokonać klikając w link poniżej:</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Jeśli nie prosiłeś o zmianę hasła, zignoruj ten email.</p>
